.all{
    background-color: aqua;
    padding: 10px;
}
.title{
    margin-top: 40px;
    h2{
        margin: 10px;
    }
    p{
        margin: 10px;
    }
}
.box1{
    margin-top: 50px;
}
.box1_title{
    display: flex;
    i{
        padding: 5px;
    }
    p{
        padding: 5px;
    }
}
.menu{
    width: 1691px;
    height: 541px;
}