.Login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 1302px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner__img{
    width: 737px;
    height: 825px;
}
.right__inner{
    width: 454px;
    height: 611px;
}
.inner__tittle{
    text-align: center;
    font-weight: 400;

}

.our__btns{
    width: 329px;
    height: 59px;
    background-color: #49BBBD99;
    border-radius: 33px;
    margin-left: 50px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login__btn{
    padding: 8px 52px;
    border: none;
    background-color:transparent;
    border-radius: 33px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.regis__btn{
    padding: 8px 52px;
    border: none;
    background-color:transparent;
    border-radius: 33px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.inner__info{
    color: #5B5B5B;
    line-height: normal;
    margin-top: 52px;
}
.user__name{
    margin-top: 42px;
}
.inp__user-name{
    margin-top: 12px;
    padding: 15px 245px 16px 31px;
    border-radius: 40px;
    border: 1px solid #49BBBD;
    color: #ACACAC;
    font-size: 15;
    font-weight: 300;
}
.password{
    margin-top: 42px;
}
.inp__password{
    margin-top: 12px;
    padding: 15px 245px 16px 31px;
    border-radius: 40px;
    border: 1px solid #49BBBD;
    color: #ACACAC;
    font-size: 15;
    font-weight: 300;
}
.second__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.right__btn{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #000;
}
.second__list-item{
    margin-left: 1px;
}
.last__btn{
    margin-top: 62px;
    width: 232px;
    height: 49px;
    border-radius: 36px;
    background-color: #49BBBD;
    border: none;
    color: white;
    margin-left: 213px;
}
