.choice-inner {
    width: 1200px;
    margin-left: -171px;
    margin-top: 90px;
    .choice-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1668px;
    }   
    .choice-lists{
        width: 1668px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        gap: 50px;
    }
    .choice-items{
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.10);
        padding: 20px 18px 38px 21px;
    }
    .choice-item-date{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 21px;
        span{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 96px;
            p{
                margin-top: 15px;
            }
        }
    }
    .choice-title{
        width: 320px;
        font-size: 24px;
        line-height: 32px;
    }
    .choice-description{
        color: #696984;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%; /* 32.4px */
        letter-spacing: 0.36px;
        margin-top: 21px;
    }
    .choice-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        :nth-child(2){
            margin-top: 12px;
            .choice-price{
                margin-top: 12px;
            }
            .choice-price-p{
                color: #49BBBD;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.48px;
            }
        }
        span{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90px;

        }
    }

    .choice__bottom__inner {
        margin-left: -5px;
        text-align: center;
        width: 1682px;
        height: 459px;
        flex-shrink: 0;
        border-radius: 37px;
        background: #252641;
        margin-top: 90px;

        h2 {
            color: #FFF;
            font-family: Poppins;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding-top: 70px;
        }

        p {
            text-align: center;
            width: 1259px;
            color: #FFF;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            /* 43.2px */
            letter-spacing: 0.48px;
            margin: 0 auto;
            padding-bottom: 73px;
            padding-top: 30px;
        }

        button {
            width: 236px;
            height: 63px;
            flex-shrink: 0;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background-color: #49BBBD;
            padding: 0 40px;
            border: none;
            border-radius: 12px;
        }
    }
    }