.recommended__titles {
    margin-left: 139px;
    margin-top: 97px;
    margin-right: 138px;
    margin-bottom: 47px;
}

.rec__link1 {
    color: #49BBBD;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}